/*
https://templatemo.com/tm-503-newline

*/
/*  */
.php {
    margin-top: 20px;
}

.sql {
    margin-top: 20px;
}

.ajax {
    margin-top: 20px;
}

.bootstrap {
    margin-top: 5px;
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #cdcdcd;
}

.copy {
    font-size: 14px;
}

.wow {
    margin-top: 75px;
}


.font_awesome {
    font-size: 25px;
    color: #ffbb05;
    margin-top: -23px;
    margin-bottom: 45px;
}

.font_awesome i {
    padding: 10px;
    border-radius: 100%;
    border: 1px solid #ffbb05;
    background: #fff;
}
/* PORTFOLIO */
.naslov-portfilio{
    background-color:#ffbb05 ;
    padding: 15px 0 15px 0;
}

.portfolio{
    padding: 10px;
    color: #cdcdcd;
    margin-bottom: 20px;
    border: 1px solid transparent;
    
}
.portfolio:hover{
  border-color: #ffbb05;
  transition: all 1.7s ease;
}
.portfolio a{
  font-size: 24px;
  color:  #ffbb05;
}